<!DOCTYPE html>
<html>
<head>
  <title>Odot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="nav">
          <br class="clear" />
          <div class="panel panel-default">
            <div class="panel-heading"><h1 style="text-align: center;"><i class="fa fa-list" style="margin-right: 10px;"></i><%= link_to "Odot", root_path %></h1></div>
            <div class="panel-body">
              <span class="btn btn-default btn-xs"><%= link_to "Todo Lists", todo_lists_path %></span>
              <span class="btn btn-success btn-xs pull-right"><%= link_to 'New Todo list', new_todo_list_path %></span>
            </div>

          </div>
        </div> <!-- end of nav -->

        <% flash.each do |type, message| %>
          <div class="alert flash <%= type %>">
            <%= message %>
          </div>
        <% end %>

        <%= yield %>

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->


</body>
</html>
